/* || GENERAL STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #23252c;
}

#root {
  display: flex;
  justify-content: center;
}

/* || LAYOUT STYLES */

.main {
  max-width: 320px;
  width: 100%;
}

/* || INFO STYLES */
.profile-img {
  max-width: 320px;
  width: 100%;
}

.name-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2b283a;
}

.profession-text {
  color: #f47d27;
  font-size: 0.75rem;
}

.website-text {
  color: #4a4e74;
  font-size: 0.625rem;
}
